<!DOCTYPE html>
<html lang="ja" >
  <head>
    <meta charset="utf-8">
    <title>todolist</title>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  </head>
  <body>
    <div id="app">
      <table>
        <tr v-for="(list, index) in lists">
          <td>{{ list.text }}</td>
          <td>{{ list.date }}</td>
          <td><input type="checkbox" :id="index" :name="index" :value="index" v-model="removeList" /></td>
        </tr>
        <tr><td>todo入力　＝　 {{ text }}</td></tr>
        <tr><td v-for> 削除キー　＝　{{ removeList  }}</td></tr>
      </table>
      <input type="text" name="" v-model="text">
      <button name="submit" v-on:click="submit" >登録</button>
      <button name="remove" v-on:click="remove" >削除</button>
    </div>
    <script type="text/javascript">
      var app = new Vue({
        el: "#app",
        data: {
          text: "",
          lists: [],
          removeList: []
        },
        methods: {
          submit: function(){
            let date = sampleDate(new Date(), "YYYY/MM/DD hh:mm");
            this.lists.unshift({"text": this.text, "date": date});
            console.log(date);
            console.log(this.text);
            localStorage.setItem(date, this.text);
            this.text = "";
          },
          remove: function(){
            // this.lists[e.target.remove-id].remove;
            for(var i = 0; i < this.removeList.length; ++i){
              console.log(this.removeList[i]);
              for(var j = 0; j < this.lists.length; ++j){
                if(this.removeList[i] === j){
                  localStorage.removeItem(this.lists[j].date);
                  this.lists.splice(this.lists[j], 1);
                  this.removeList.splice(i, 1);
                }
              }
            }
          }
        }
      })
      
      function init(){
        var keys = [];
        for (var i = localStorage.length - 1; i >= 0; --i) {
          app.lists.unshift({"id": i, "text": localStorage.getItem(localStorage.key(i)), "date": localStorage.key(i)});
        }
      }
      function sampleDate(date, format) {
          format = format.replace(/YYYY/, date.getFullYear());
          format = format.replace(/MM/, date.getMonth() + 1);
          format = format.replace(/DD/, date.getDate());
          format = format.replace(/hh/, date.getHours());
          format = format.replace(/mm/, date.getMinutes());     
          return format;
      }
      init();
    </script>
  </body>
</html>