<!DOCTYPE html>
<html lang="ja" >
  <head>
    <meta charset="utf-8">
    <title>todolist</title>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <style media="screen">
        #app{
          width: 80%;
          margin: 0 auto;
        }
        table{
          width: 100%;
        }
        caption{
          font-weight: bold;
        }
        td,th{
          border: solid 1px #000;
          text-align: center;
        }
        h2,p{
          padding: 0;
          margin:0;
        }
        .float-left{
          float: left;
        }
        .float-right{
          float: right;
        }
        .left{
          text-align: left;
        }
        .right{
          text-align: right;
        }
        .center{
          text-align: center;
        }
        .todo-input-box{
          width: 100%;
          display:table;
          table-layout: fixed;        
        }
        .view-text-box, .create-todo-box{
          display: table-cell;
          vertical-align: middle;
          width: 50%;
          border: solid 1px #444;
        }
    </style>
  </head>
  <body>
    <div id="app">
      <table>
        <caption><h2>ToDo</h2></caption>
        <tr><th v-for="label in tableLabel">{{label}}</th></tr>
        <tr v-for="(list, index) in lists">
          <td class="center">{{ list.id }}</td>
          <td class="left">{{ list.text }}</td>
          <td class="center">{{list.startDate}}</td>
          <td class="center">{{list.lastDate}}</td>
          <td class="center">{{ list.date }}</td>
          <td><input type="checkbox" :id="list.id" :name="list.id" :value="list.id" v-model="successList" /></td>
          <td><input type="checkbox" :id="list.id" :name="list.id" :value="list.id" v-model="removeList" /></td>
        </tr>
      </table>
      <div class="todo-input-box">
        <div class="view-text-box ">
          <h2>内容確認</h2>
          <p>内容入力　　　　＝　 {{ text }}</p>
          <p>開始日　　　　　＝　 {{ startDate }}</p>
          <p>終了予定日　　　＝　 {{ lastDate }}</p>
          <p> 　　完了　　　　＝　<span v-for="val in successList"  >{{ val + " , "  }}</span><br></p>
          <p> 　　削除　　　　＝　<span v-for="val in removeList">{{ val + " , "  }}</span><br></p>
        </div>
        <div class="create-todo-box">
          <h2>ToDo作成</h2>
          <p>
            <label>内容</label>
            <input type="text" name="" v-model="text">
          </p>
          <p>
            <label>開始日</label>
            <input type="date" name="" v-model="startDate">
          </p>
          <p>
            <label>終了予定日</label>
            <input type="date" name="" v-model="lastDate">
          </p>
          <button name="submit" v-on:click="submit" >登録</button>
          <button name="remove" v-on:click="remove" >削除</button>
        </div>
      </div>
    </div>
    <script type="text/javascript">
      var app = new Vue({
        el: "#app",
        data: {
          tableLabel: [
            "No",
            "内容",
            "開始日",
            "終了予定日",
            "更新時間",
            "完了",
            "削除"
          ],
          text: "",
          startDate: "",
          lastDate: "",
          lists: [],
          successList: [],
          removeList: []
        },
        watch: {
          successList: {
            handler: function(val, oldVal){
              console.log("val = " + val);
              localStorage.removeItem("success");
              var output = '{"id": ["';
              for(var i = 0; i <= this.successList.length-1; i++){
                console.log("this.successList["+i+"] = " + this.successList[i]);
                console.log("successList.length = " + this.successList.length);
                console.log("i = " + i);
                output += this.successList[i];
                if(i != (this.successList.length - 1)){
                  output += '", "';  
                }
              }
              output += '"]}';
              console.log("output = " + output);
              localStorage.setItem(("success"),  output);
            }
          }
        },
        methods: {
          submit: function(){
            let date = sampleDate(new Date(), "YYYY/MM/DD hh:mm");
            this.lists.unshift({"id": (localStorage.length+1), "text": this.text, "date": date, "startDate": this.startDate, "lastDate": this.lastDate});
            console.log(date);
            console.log(this.text);
            // {"text": "aa","date": "2018/11/19 13:36","startDate": "2018-11-06","lastDate": "2018-11-07"}
            localStorage.setItem((localStorage.length+1), '{"text": "' + this.text + '", "date":  "' + date + '", "startDate": "' + this.startDate + '", "lastDate": "' +  this.lastDate + '"}');
            this.text = this.startDate = this.lastDate = "";
          },
          remove: function(){
            // this.lists[e.target.remove-id].remove;
            for(var i = 0; i < this.removeList.length; ++i){
              console.log(this.removeList[i]);
              for(var j = 0; j < this.lists.length; ++j){
                if(this.removeList[i] === this.lists[j].id){
                  localStorage.removeItem(this.lists[j].id);
                  this.lists.splice(this.lists[j], 1);
                  this.removeList.splice(i, 1);
                }
              }
            }
          }
        }
      })
      
      function init(){
        var keys = [];
        for (var i = localStorage.length - 1; i >= 0; --i) {
          let item = localStorage.getItem(localStorage.key(i));
          let json = JSON.parse(item);
          console.log("item : " + item);
          console.log("item.date : " + json.text);
          if(localStorage.key(i) != "success"){
            app.lists.unshift({
              "id": localStorage.key(i),
              "text": json.text,
              "date": json.date,
              "startDate": json.startDate,
              "lastDate": json.lastDate
            });
          }else{
            console.log("json.id = " + json.id);
            app.successList = json.id;
          }
        }
      }
      function sampleDate(date, format) {
        format = format.replace(/YYYY/, ((date.getFullYear() >= 0 && date.getFullYear() <= 9) ? ("0" + date.getFullYear()) : date.getFullYear()));
        format = format.replace(/MM/, date.getMonth() + 1);
        format = format.replace(/DD/, ((date.getDate() >= 0 && date.getDate() <= 9) ? ("0" + date.getDate()) : date.getDate()));
        format = format.replace(/hh/, date.getHours());
        format = format.replace(/mm/, date.getMinutes());     
        return format;
      }
      init();
    </script>
  </body>
</html>